<?xml version="1.0"?>
<Settings>
  <Setting>
    <Key>Signature</Key>
    <Value>G+4nOj+3ovuo8xmxcvn87BffW7PWeXDzXwUxEuYtuq08giMqX8U4Iw==</Value>
  </Setting>
  <Setting>
    <Key>MaxPortals</Key>
    <Value>0</Value>
  </Setting>
  <Setting>
    <Key>Email</Key>
    <Value>jeff@hughesco.org</Value>
  </Setting>
  <Setting>
    <Key>ServiceUntil</Key>
    <Value>2019-04-05 08:52:39Z</Value>
  </Setting>
  <Setting>
    <Key>Expires</Key>
    <Value>0001-01-01 00:00:00Z</Value>
  </Setting>
  <Setting>
    <Key>Invoice</Key>
    <Value>60DE0CA5CF534AF99D0827400B7793FC</Value>
  </Setting>
</Settings>